---
import kindeClient from "../serverKinde";
import sessionManager from "../sessionManage";

await kindeClient.logout(sessionManager);

---

<h1>This is logout</h1>

<script>
    import kindeClient from '../clientKinde';
    
    async function handleLogout() {
    const url = await kindeClient.logout();
    // Redirect
    window.location.href = url.toString();
    }
    console.log("logging out");
    handleLogout();
</script>